USE [NDWH]
GO
/****** Object:  Table [dbo].[DimAdverseEvent]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAdverseEvent](
	[AdverseEventKey] [int] IDENTITY(1,1) NOT NULL,
	[AdverseEventID] [nvarchar](4000) NULL,
	[AdverseEvent] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAdverseEventActionTaken]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAdverseEventActionTaken](
	[AdverseEventActionTakenKey] [int] IDENTITY(1,1) NOT NULL,
	[AdverseEventActionTakenID] [nvarchar](4000) NULL,
	[AdverseEventActionTaken] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAdverseEventCause]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAdverseEventCause](
	[AdverseEventCauseKey] [int] IDENTITY(1,1) NOT NULL,
	[AdverseEventCauseID] [nvarchar](4000) NULL,
	[AdverseEventCause] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAdverseEventRegimen]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAdverseEventRegimen](
	[AdverseEventRegimenKey] [int] IDENTITY(1,1) NOT NULL,
	[AdverseEventRegimenID] [nvarchar](4000) NULL,
	[AdverseEventRegimen] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAgeGroup]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAgeGroup](
	[AgeGroupKey] [int] IDENTITY(1,1) NOT NULL,
	[Age] [int] NOT NULL,
	[MOHAgeGroup] [varchar](8) NULL,
	[DATIMAgeGroup] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[AgeGroupKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimAgency]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAgency](
	[AgencyKey] [int] IDENTITY(1,1) NOT NULL,
	[AgencyName] [varchar](50) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AgencyKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimArtDaysBand]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimArtDaysBand](
	[ArtDaysBandKey] [int] IDENTITY(1,1) NOT NULL,
	[LowerLimit] [nvarchar](4000) NULL,
	[UpperLimit] [nvarchar](4000) NULL,
	[ArtDaysBand] [nvarchar](4000) NULL,
	[Row_Count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimARTOutcome]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimARTOutcome](
	[ARTOutcomeKey] [int] IDENTITY(1,1) NOT NULL,
	[ARTOutcome] [varchar](2) NULL,
	[ARTOutcomeDescription] [varchar](17) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ARTOutcomeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimBooster]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimBooster](
	[BoosterKey] [int] IDENTITY(1,1) NOT NULL,
	[BoosterDescription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimCovidPatient]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCovidPatient](
	[CovidPatientKey] [int] IDENTITY(1,1) NOT NULL,
	[CovidPatientID] [nvarchar](4000) NULL,
	[CovidPatientName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDate]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDate](
	[DateKey] [nvarchar](4000) NOT NULL,
	[Date] [date] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[CalendarQuarter] [int] NULL,
	[CDCFinancialQuarter] [int] NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDifferentiatedCare]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDifferentiatedCare](
	[DifferentiatedCareKey] [int] IDENTITY(1,1) NOT NULL,
	[DifferentiatedCare] [nvarchar](4000) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DifferentiatedCareKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDrug]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDrug](
	[DrugKey] [int] IDENTITY(1,1) NOT NULL,
	[Drug] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DrugKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimEMR]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimEMR](
	[EMRKey] [int] IDENTITY(1,1) NOT NULL,
	[EMRID] [nvarchar](4000) NULL,
	[EMRDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimExitReason]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimExitReason](
	[ExitReasonKey] [int] IDENTITY(1,1) NOT NULL,
	[ExitReasonID] [nvarchar](4000) NULL,
	[ExitReason] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFacility]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFacility](
	[FacilityKey] [int] IDENTITY(1,1) NOT NULL,
	[MFLCode] [nvarchar](60) NULL,
	[FacilityName] [varchar](250) NULL,
	[SubCounty] [varchar](50) NULL,
	[County] [varchar](50) NULL,
	[EMR] [varchar](50) NULL,
	[Project] [nvarchar](3200) NULL,
	[Longitude] [varchar](50) NULL,
	[Latitude] [varchar](50) NULL,
	[DateSiteAbstractionKey] [int] NULL,
	[LatestDateUploadedKey] [int] NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFamilyPlanning]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFamilyPlanning](
	[FamilyPlanningKey] [int] IDENTITY(1,1) NOT NULL,
	[FamilyPlanning] [varchar](150) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FamilyPlanningKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFirstDoseVaccineAdministered]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFirstDoseVaccineAdministered](
	[FirstDoseVaccineAdministeredKey] [int] IDENTITY(1,1) NOT NULL,
	[FirstDoseVaccineAdministered] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimFirstVL]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimFirstVL](
	[FirstVLKey] [int] IDENTITY(1,1) NOT NULL,
	[FirstVL] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimGender]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimGender](
	[GenderKey] [int] IDENTITY(1,1) NOT NULL,
	[GenderID] [nvarchar](4000) NULL,
	[GenderDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsBoosterGiven]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsBoosterGiven](
	[IsBoosterGivenKey] [int] IDENTITY(1,1) NOT NULL,
	[IsBoosterGivenDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsFullyVaccinated]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsFullyVaccinated](
	[IsFullyVaccinatedKey] [int] IDENTITY(1,1) NOT NULL,
	[IsFullyVaccinatedDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsOnIpt]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsOnIpt](
	[IsOnIptKey] [int] IDENTITY(1,1) NOT NULL,
	[IsOnIptID] [nvarchar](4000) NULL,
	[IsOnIpt] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimISOnTBDrugs]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimISOnTBDrugs](
	[ISOnTBDrugsKey] [int] IDENTITY(1,1) NOT NULL,
	[ISOnTBDrugsID] [nvarchar](4000) NULL,
	[ISOnTBDrugs] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsPartiallyVaccinated]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsPartiallyVaccinated](
	[IsPartiallyVaccinatedKey] [int] IDENTITY(1,1) NOT NULL,
	[IsPartiallyVaccinatedDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsScreenedForCovid]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsScreenedForCovid](
	[IsScreenedForCovidKey] [int] IDENTITY(1,1) NOT NULL,
	[IsScreenedForCovidDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsVaccinated]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsVaccinated](
	[IsVaccinatedKey] [int] IDENTITY(1,1) NOT NULL,
	[IsVaccinatedID] [nvarchar](4000) NULL,
	[IsVaccinatedDescription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimIsVaccineVerified]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimIsVaccineVerified](
	[IsVaccineVerifiedKey] [int] IDENTITY(1,1) NOT NULL,
	[IsVaccineVerifiedID] [nvarchar](4000) NULL,
	[IsVaccineVerified] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimKeyPopulationType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimKeyPopulationType](
	[KeyPopulationTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[KeyPopulationType] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyPopulationTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLastRegimen]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLastRegimen](
	[LastRegimenKey] [int] IDENTITY(1,1) NOT NULL,
	[LastRegimenID] [nvarchar](4000) NULL,
	[LastRegimen] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLastRegimenLine]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLastRegimenLine](
	[LastRegimenLineKey] [int] IDENTITY(1,1) NOT NULL,
	[LastRegimenLineID] [nvarchar](4000) NULL,
	[LastRegimenLine] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLastVL]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLastVL](
	[LastVLKey] [int] IDENTITY(1,1) NOT NULL,
	[LastVL] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimMaritalStatus]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimMaritalStatus](
	[MaritalStatusKey] [int] IDENTITY(1,1) NOT NULL,
	[MaritalStatusDescription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPartner]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPartner](
	[PartnerKey] [int] IDENTITY(1,1) NOT NULL,
	[PartnerName] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPartnerAndAgencyBridge]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPartnerAndAgencyBridge](
	[PartnerKey] [int] NULL,
	[CountyKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[PartnerID] [nvarchar](4000) NULL,
	[PartnerName] [nvarchar](4000) NULL,
	[CountyName] [nvarchar](4000) NULL,
	[AgencyName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPatient]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPatient](
	[PatientKey] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [nvarchar](128) NULL,
	[PatientPK] [nvarchar](128) NULL,
	[SiteCode] [varchar](50) NULL,
	[Gender] [varchar](250) NULL,
	[DOB] [date] NULL,
	[MaritalStatus] [varchar](250) NULL,
	[Nupi] [nvarchar](1600) NULL,
	[PatientType] [varchar](250) NULL,
	[PatientSource] [varchar](250) NULL,
	[EnrollmentWHOKey] [varchar](50) NULL,
	[DateEnrollmentWHOKey] [int] NULL,
	[BaseLineWHOKey] [varchar](50) NULL,
	[DateBaselineWHOKey] [int] NULL,
	[IsTXCurr] [int] NOT NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPatientSource]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPatientSource](
	[PatientSourceKey] [int] IDENTITY(1,1) NOT NULL,
	[PatientSourceID] [nvarchar](4000) NULL,
	[PatientSourceName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPatientType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPatientType](
	[PatientTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[PatientTypeID] [nvarchar](4000) NULL,
	[PatientTypeName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPopulationType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPopulationType](
	[PopulationTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[PopulationType] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PopulationTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimPreviousARTRegimen]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimPreviousARTRegimen](
	[PreviousARTRegimenKey] [int] IDENTITY(1,1) NOT NULL,
	[PreviousARTRegimenID] [nvarchar](4000) NULL,
	[PreviousARTRegimen] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProject]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProject](
	[ProjectKey] [int] IDENTITY(1,1) NOT NULL,
	[ProjectID] [nvarchar](4000) NULL,
	[ProjectName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProphylaxisType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProphylaxisType](
	[ProphylaxisTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[ProphylaxisTypeID] [nvarchar](4000) NULL,
	[ProphylaxisType] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegimen]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegimen](
	[RegimenKey] [int] IDENTITY(1,1) NOT NULL,
	[RegimenID] [nvarchar](4000) NULL,
	[Regimen] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegimenLine]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegimenLine](
	[RegimenLineKey] [int] IDENTITY(1,1) NOT NULL,
	[RegimenLine] [varchar](250) NULL,
	[RegimenLineCategory] [varchar](11) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegimenLineKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRegion]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRegion](
	[RegionKey] [int] IDENTITY(1,1) NOT NULL,
	[SubCountyKey] [int] NULL,
	[RegionID] [nvarchar](4000) NULL,
	[RegionName] [nvarchar](4000) NULL,
	[SubCounty] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimRelationshipWithPatient]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimRelationshipWithPatient](
	[RelationshipWithPatientKey] [int] IDENTITY(1,1) NOT NULL,
	[RelationshipWithPatient] [nvarchar](4000) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[RelationshipWithPatientKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSecondDoseVaccineAdministered]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSecondDoseVaccineAdministered](
	[SecondDoseVaccineAdministeredKey] [int] IDENTITY(1,1) NOT NULL,
	[SecondDoseVaccineAdministered] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSevereEvent]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSevereEvent](
	[SevereEventKey] [int] IDENTITY(1,1) NOT NULL,
	[SevereEventID] [nvarchar](4000) NULL,
	[SevereEvent] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStabilityAssessment]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStabilityAssessment](
	[StabilityAssessmentKey] [int] IDENTITY(1,1) NOT NULL,
	[StabilityAssessmentID] [nvarchar](4000) NULL,
	[StabilityAssessment] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStartRegimen]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStartRegimen](
	[StartRegimenKey] [int] IDENTITY(1,1) NOT NULL,
	[StartRegimenID] [nvarchar](4000) NULL,
	[StartRegimen] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimStartRegimenLine]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimStartRegimenLine](
	[StartRegimenLineKey] [int] IDENTITY(1,1) NOT NULL,
	[StartRegimenLineID] [nvarchar](4000) NULL,
	[StartRegimenLine] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimSubCounty]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimSubCounty](
	[SubCountyKey] [int] IDENTITY(1,1) NOT NULL,
	[RegionKey] [int] NULL,
	[County] [nvarchar](4000) NULL,
	[SubCountyID] [nvarchar](4000) NULL,
	[SubCountyName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTBScreening]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTBScreening](
	[TBScreeningKey] [int] IDENTITY(1,1) NOT NULL,
	[TBScreeningID] [nvarchar](4000) NULL,
	[TBScreening] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTreatmentType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTreatmentType](
	[TreatmentTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[TreatmentType] [varchar](250) NULL,
	[TreatmentType_Cleaned] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TreatmentTypeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVaccinationStatus]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVaccinationStatus](
	[VaccinationStatusKey] [int] IDENTITY(1,1) NOT NULL,
	[VaccinationStatus] [nvarchar](4000) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VaccinationStatusKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVaccineDoseType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVaccineDoseType](
	[VaccineDoseTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[VaccineDoseTypeID] [nvarchar](4000) NULL,
	[VaccineName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimVillage]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimVillage](
	[VillageKey] [int] IDENTITY(1,1) NOT NULL,
	[VillageID] [nvarchar](4000) NULL,
	[VillageName] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimvisitType]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimvisitType](
	[visitTypeKey] [int] IDENTITY(1,1) NOT NULL,
	[visitTypeID] [nvarchar](4000) NULL,
	[visitTypeDesription] [nvarchar](4000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactAdverseEvents]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactAdverseEvents](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[AdverseEventStartDateKey] [nvarchar](4000) NULL,
	[AdverseEventEndDateKey] [nvarchar](4000) NULL,
	[VisitDateKey] [nvarchar](4000) NULL,
	[AdverseEvent] [varchar](100) NULL,
	[Severity] [varchar](100) NULL,
	[AdverseEventCause] [varchar](100) NULL,
	[AdverseEventRegimen] [varchar](100) NULL,
	[AdverseEventActionTaken] [varchar](100) NULL,
	[AdverseEventClinicalOutcome] [varchar](100) NULL,
	[AdverseEventIsPregnant] [bit] NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTART]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTART](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[StartARTDateKey] [date] NULL,
	[LastARTDateKey] [nvarchar](4000) NULL,
	[ARTOutcomeKey] [int] NULL,
	[CurrentRegimen] [varchar](250) NULL,
	[CurrentRegimenline] [varchar](250) NULL,
	[StartRegimen] [varchar](250) NULL,
	[StartRegimenLine] [varchar](250) NULL,
	[AgeAtEnrol] [int] NULL,
	[AgeAtARTStart] [int] NULL,
	[AgeLastVisit] [int] NULL,
	[TimetoARTDiagnosis] [int] NULL,
	[TimetoARTEnrollment] [int] NULL,
	[PregnantARTStart] [int] NULL,
	[PregnantAtEnrol] [int] NULL,
	[LastVisitDate] [date] NULL,
	[NextAppointmentDate] [date] NULL,
	[StartARTAtThisfacility] [date] NULL,
	[PreviousARTStartDate] [date] NULL,
	[PreviousARTRegimen] [varchar](250) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactARTHistory]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactARTHistory](
	[FactKey] [int] IDENTITY(1,1) NOT NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[PatientKey] [int] NULL,
	[AsOfDateKey] [nvarchar](4000) NULL,
	[IsTXCurr] [int] NOT NULL,
	[ARTOutcomeKey] [int] NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FactKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactCD4]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactCD4](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[CD4atEnrollment] [float] NULL,
	[CD4atEnrollmentDate] [date] NULL,
	[LastCD4] [float] NULL,
	[LastCD4Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactCovid]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactCovid](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[VisitID] [int] NULL,
	[Covid19AssessmentDateKey] [nvarchar](4000) NULL,
	[ReceivedCOVID19Vaccine] [nvarchar](2400) NULL,
	[DateGivenFirstDoseKey] [nvarchar](4000) NULL,
	[FirstDoseVaccineAdministered] [nvarchar](2400) NULL,
	[DateGivenSecondDoseKey] [nvarchar](4000) NULL,
	[SecondDoseVaccineAdministered] [nvarchar](2400) NULL,
	[VaccinationStatus] [nvarchar](2400) NULL,
	[VaccineVerification] [nvarchar](2400) NULL,
	[BoosterGiven] [nvarchar](2400) NULL,
	[BoosterDose] [nvarchar](2400) NULL,
	[BoosterDoseDateKey] [nvarchar](4000) NULL,
	[EverCOVID19Positive] [nvarchar](2400) NULL,
	[COVID19TestDateKey] [nvarchar](4000) NULL,
	[PatientStatus] [nvarchar](2400) NULL,
	[AdmissionStatus] [nvarchar](2400) NULL,
	[AdmissionUnit] [nvarchar](2400) NULL,
	[MissedAppointmentDueToCOVID19] [nvarchar](2400) NULL,
	[COVID19PositiveSinceLasVisit] [nvarchar](2400) NULL,
	[COVID19TestDateSinceLastVisit] [date] NULL,
	[PatientStatusSinceLastVisit] [nvarchar](2400) NULL,
	[AdmissionStatusSinceLastVisit] [nvarchar](2400) NULL,
	[AdmissionStartDateKey] [nvarchar](4000) NULL,
	[AdmissionEndDateKey] [nvarchar](4000) NULL,
	[AdmissionUnitSinceLastVisit] [nvarchar](2400) NULL,
	[SupplementalOxygenReceived] [nvarchar](2400) NULL,
	[PatientVentilated] [nvarchar](2400) NULL,
	[TracingFinalOutcome] [nvarchar](2400) NULL,
	[CauseOfDeath] [nvarchar](2400) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactIPT]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactIPT](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[StartTBTreatmentDateKey] [int] NULL,
	[TBDiagnosisDateKey] [int] NULL,
	[OnIPT] [nvarchar](4000) NULL,
	[hasTB] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactLatestObs]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactLatestObs](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[DifferentiatedCareKey] [int] NULL,
	[LatestHeight] [varchar](150) NULL,
	[LatestWeight] [varchar](150) NULL,
	[AgeLastVisit] [int] NULL,
	[Adherence] [varchar](150) NULL,
	[DifferentiatedCare] [nvarchar](2400) NULL,
	[onMMD] [int] NULL,
	[StabilityAssessment] [nvarchar](2400) NULL,
	[Pregnant] [varchar](150) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTMANIFEST]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTMANIFEST](
	[FACTKey] [int] IDENTITY(1,1) NOT NULL,
	[UploadsDateKey] [nvarchar](4000) NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[Start] [datetime] NULL,
	[End] [datetime] NULL,
	[LoadDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOTZ]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOTZ](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[OTZEnrollmentDateKey] [nvarchar](4000) NULL,
	[LastVisitDateKey] [nvarchar](4000) NULL,
	[TransitionAttritionReason] [nvarchar](2400) NULL,
	[TransferInStatus] [nvarchar](2400) NULL,
	[ModulesPreviouslyCovered] [nvarchar](2400) NULL,
	[ModulesCompletedToday_OTZ_Orientation] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_Participation] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_Leadership] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_MakingDecisions] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_Transition] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_TreatmentLiteracy] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_SRH] [int] NOT NULL,
	[ModulesCompletedToday_OTZ_Beyond] [int] NOT NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactOVC]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactOVC](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[OVCEnrollmentDateKey] [nvarchar](4000) NULL,
	[RelationshipWithPatientKey] [int] NULL,
	[EnrolledinCPIMS] [nvarchar](2400) NULL,
	[CPIMSUniqueIdentifier] [nvarchar](2400) NULL,
	[PartnerOfferingOVCServices] [nvarchar](2400) NULL,
	[OVCExitReason] [nvarchar](2400) NULL,
	[OVCExitDateKey] [nvarchar](4000) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTPatientExits]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTPatientExits](
	[FACTKey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[dtDeadKey] [nvarchar](4000) NULL,
	[dtLFTUKey] [nvarchar](4000) NULL,
	[dtTOKey] [nvarchar](4000) NULL,
	[dtARTStopKey] [nvarchar](4000) NULL,
	[LoadDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[FACTKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactTPT]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactTPT](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[StartTBTreatmentDateKey] [nvarchar](4000) NULL,
	[TBDiagnosisDateKey] [nvarchar](4000) NULL,
	[OnIPT] [nvarchar](2400) NULL,
	[hasTB] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactViralLoads]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactViralLoads](
	[Factkey] [int] IDENTITY(1,1) NOT NULL,
	[PatientKey] [int] NULL,
	[FacilityKey] [int] NULL,
	[PartnerKey] [int] NULL,
	[AgencyKey] [int] NULL,
	[AgeGroupKey] [int] NULL,
	[Last12MVLDateKey] [nvarchar](4000) NULL,
	[6MonthVLDateKey] [nvarchar](4000) NULL,
	[12MonthVLDateKey] [nvarchar](4000) NULL,
	[18MonthVLDateKey] [nvarchar](4000) NULL,
	[24MonthVLDateKey] [nvarchar](4000) NULL,
	[FirstVLDateKey] [nvarchar](4000) NULL,
	[LastVLDateKey] [nvarchar](4000) NULL,
	[LatestVLDate1Key] [nvarchar](4000) NULL,
	[LatestVLDate2Key] [nvarchar](4000) NULL,
	[LatestVLDate3Key] [nvarchar](4000) NULL,
	[EligibleVL] [int] NULL,
	[Last12MonthVLResults] [varchar](8000) NULL,
	[Last12MonthVL] [int] NULL,
	[Last12MVLResult] [varchar](12) NULL,
	[Last12MVLSup] [int] NULL,
	[_6MonthVL] [varchar](50) NULL,
	[_12MonthVL] [varchar](50) NULL,
	[_18MonthVL] [varchar](50) NULL,
	[_24MonthVL] [varchar](50) NULL,
	[6MonthVLSup] [int] NULL,
	[12MonthVLSup] [int] NULL,
	[18MonthVLSup] [int] NULL,
	[24MonthVLSup] [int] NULL,
	[FirstVL] [varchar](8000) NULL,
	[LastVL] [varchar](8000) NULL,
	[TimetoFirstVL] [int] NULL,
	[TimeToFirstVLGrp] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[Factkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Linelist_FACTART]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Linelist_FACTART](
	[PatientID] [nvarchar](512) NULL,
	[PatientPK] [nvarchar](512) NULL,
	[Gender] [varchar](250) NULL,
	[DOB] [date] NULL,
	[MaritalStatus] [varchar](250) NULL,
	[Nupi] [nvarchar](3200) NULL,
	[PatientSource] [varchar](250) NULL,
	[PatientType] [varchar](250) NULL,
	[SiteCode] [varchar](50) NULL,
	[FacilityName] [varchar](250) NULL,
	[County] [varchar](50) NULL,
	[SubCounty] [varchar](50) NULL,
	[PartnerName] [varchar](250) NULL,
	[AgencyName] [varchar](50) NULL,
	[age] [int] NULL,
	[StartARTDate] [date] NULL,
	[CurrentRegimen] [varchar](250) NULL,
	[CurrentRegimenline] [varchar](250) NULL,
	[StartRegimen] [varchar](250) NULL,
	[StartRegimenLine] [varchar](250) NULL,
	[AgeAtEnrol] [int] NULL,
	[AgeAtARTStart] [int] NULL,
	[TimetoARTDiagnosis] [int] NULL,
	[TimetoARTEnrollment] [int] NULL,
	[PregnantARTStart] [int] NULL,
	[PregnantAtEnrol] [int] NULL,
	[LastVisitDate] [date] NULL,
	[NextAppointmentDate] [date] NULL,
	[StartARTAtThisfacility] [date] NULL,
	[PreviousARTStartDate] [date] NULL,
	[PreviousARTRegimen] [varchar](250) NULL,
	[ARTOutcomeDescription] [varchar](17) NULL,
	[ISTxCurr] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[load_aggregate_OptimizeCurrentRegimens]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[load_aggregate_OptimizeCurrentRegimens](
	[SiteCode] [nvarchar](240) NULL,
	[FacilityName] [varchar](250) NULL,
	[County] [varchar](50) NULL,
	[Subcounty] [varchar](50) NULL,
	[PartnerName] [nvarchar](3200) NULL,
	[AgencyName] [nvarchar](4000) NULL,
	[Agegroup] [varchar](5) NULL,
	[DATIMAgeGroup] [varchar](8) NULL,
	[Gender] [varchar](250) NULL,
	[StartRegimen] [varchar](250) NULL,
	[StartARTMonth] [nvarchar](240) NULL,
	[StartARTYr] [int] NULL,
	[TXCurr] [int] NULL,
	[CurrentRegimen] [varchar](13) NULL,
	[RegimenLine] [varchar](25) NULL,
	[WeightBands] [varchar](14) NULL,
	[AgeBands] [varchar](11) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[load_aggregate_OptimizeStartRegimens]    Script Date: 1/31/2023 9:19:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[load_aggregate_OptimizeStartRegimens](
	[SiteCode] [varchar](50) NULL,
	[FacilityName] [varchar](250) NULL,
	[County] [varchar](50) NULL,
	[Subcounty] [varchar](50) NULL,
	[CTPartner] [varchar](250) NULL,
	[CTAgency] [varchar](50) NULL,
	[Agegroup] [varchar](5) NULL,
	[DATIMAgeGroup] [varchar](8) NULL,
	[Gender] [varchar](250) NULL,
	[StartRegimen] [varchar](13) NULL,
	[StartARTMonth] [nvarchar](120) NULL,
	[StartARTYr] [int] NULL,
	[TXCurr] [int] NULL,
	[Firstregimen] [varchar](250) NULL
) ON [PRIMARY]
GO
